* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.body {
  font-style: Monster;
}

.header {
  height: 95vh;
  background-color: black;
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 0);
}
.header2 {
  height: 45vh;
  background-color: black;
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(100% 13%, 100% 100%, 0 100%, 0 70%);
}

.home {
  position: relative;
  top: 30%;
}

h1 {
  color: white; 
  text-align: right; 
  font-size: 3rem; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.homeDes {
  color: white; 
  text-align: right; 
  font-size: 1.1rem;
}

.joinBtn {
  float: right; 
  padding: 10px 40px; 
  font-size: 1.2rem; 
  background-color: #2CC531;
  font-family: 'Montserrat', sans-serif;
}

.xash-logo {
  width: 3rem !important;
  height: auto;
}

.navbar-dark {
  background-color: black !important;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.alignment-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .homeContent {
    align-items: center;
    margin-top: 2rem;
  }

  .homeImg {
    margin-top: 4rem;
  }

  h1 {
    text-align: center !important;
  }

  .homeDes {
    text-align: center;
  }

  .btn {
    float: inherit;
  }

  .meet {
    font-size: 1.5rem !important;
  }
  .bottom-text{
    text-align: center;
  }
  .founders {
    font-size: 4rem !important;
  }
  .middle {
    height: 130vh !important;
  }
  .homeContent{
    text-align: center !important;
  }
  .mailto{
    text-align: center !important;
  }
  .home {
    position: relative;
    top: -0px;
  }

  .founder-images {
    margin: 3rem auto !important;
  }

  .top {
    height: 120vh;
  }
  .header{
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    height:95vh;

  }
  .header2{
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);
    height:30vh;
  }
  .alignment-query-left{
    margin-right: 0px !important;
  }
  .alignment-query-right{
    margin-left: 0px !important;
  }
}

.images {
  height: 10rem;
  width: auto;
  border: 10px solid white;
}
